<h2>CARROS</h2>

<form>
    <div class="form-group">
        <label for="key">ID GERADO AUTOMATICAMENTE</label>
        <input type="string" class="form-control" id="key" name="key" readonly
                placeholder="Digite o ID"
                [(ngModel)]="carro.key">
    </div>  
    <div class="form-group">
        <label for="nome">NOME DO CARRO</label>
        <input type="string" class="form-control" id="nome" name="nome"
                placeholder="Digite seu nome"
                [(ngModel)]="carro.nome">
    </div>    
    <div class="form-group">
        <label for="dataNascimento">DATA DE LANÇAMENTO</label>
        <input type="Date" class="form-control" id="dataNascimento" name="dataNascimento"
        [(ngModel)]="carro.dataNascimento">
    </div>
    <button class="btn btn-primary" (click)="salvar()">Salvar</button> 
</form>`

<table class="table">
    <thead>
        <tr>
            <th>ID DO CARRO</th>    
            <th>NOME DO CARRO</th>    
            <th>DATA DE LANÇAMENTO</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let carro of carros">
            <td>{{ carro.key }}</td>
            <td>{{ carro.nome }}</td>
            <td>{{ carro.dataNascimento }}</td>
            <td><button class="btn btn-primary"
                (click)="carregar(carro)">Alterar</button></td>
            <td><button class="btn btn-primary"
                (click)="excluir(carro.key)">Excluir</button></td>
        </tr>
    </tbody>
</table>